<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Python Tutor">
    <meta name="author" content="hgroves, katykaty, mxc">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>{% block title %}PyTutor{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/pygments.css" rel="stylesheet">
    <link href="/static/css/main.css" type="text/css" rel="stylesheet">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/underscore-min.js"></script>

    <script src="/static/js/backbone.js"></script>

    <script src="/static/js/ace/ace.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/tablesorter.js"></script>
    <script src="/static/js/tutor.js"></script>
</head>

<body class="{% block body_class %}{% endblock %}">

    {% include "tutor/delete_confirm.html" %}

    <div id="{% block modal_id %}base-modal{% endblock %}" tabindex="-1" class="modal fade" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">{% block modal_title %}Modal Title{% endblock %}</h4>
          </div>
          <div class="modal-body">{% block modal_body %}Modal body{% endblock %}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <header id="top-header" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">PyTutor</a>
        </div>
        <!--main nav-->
        <nav class="collapse navbar-collapse">
        {% if user.is_authenticated %}
          <ul class="nav navbar-nav nav-pills">
            <li><a href="/tutor">study</a></li>
            <li><a href="/question/new">new question</a></li>
            <li><a href="/question/list/{{user.username}}">list questions</a></li>
            <li><a href="/tutor/tags">study tags</a></li>
          </ul>
        {% else %}
          <ul class="nav navbar-nav nav-pills"
          data-toggle="tooltip" data-placement="bottom" data-content="Please register with a username and password to continue."title="Regiser or Log In">
            <li><a class="btn btn-default disabled" href="/tutor">study</a></li>
            <li><a class="btn btn-default disabled"  href="/question/new">new question</a></li>
            <li><a class="btn btn-default disabled"  href="/question/list/{{user.username}}">list questions</a></li>
            <li><a class="btn btn-default disabled"  href="/tutor/tags">study tags</a></li>
          </ul>

       {% endif %}

          <ul class="nav navbar-nav navbar-right vc">
       {% if user.is_authenticated %}
            <!--We'll want this to link to the user's profile, when it exists -->
            <li><a class="btn" href="#profile-coming-soon" title="see my profile">{{ user.username }}</a></li>
            <li>
              <button id="friends" class="btn navbar-btn btn-default btn-xs">
                <span class="glyphicon glyphicon-user"></span>
                <span class="badge">3</span>
              </button>
            </li>
            <li><a class="btn" href="/logout" title="click to logout">logout</a></li>
        {% else %}
            <li>
              <form class="navbar-form navbar-right form-inline margin-right" role="form" action="/login" method="post">
                  {% csrf_token %}
                  <input type="text" placeholder="Username" class="form-control" name="username">
                  <input type="password" placeholder="Password" class="form-control" name="password">

                  <button title="log in with your username and password" type="submit" class="btn btn-info">Log in</button>
                  <button type="submit" name="register" value="True"
                          data-toggle="tooltip" data-placement="bottom"
                          data-viewport="body"
                          data-delay="0"
                          data-content="Enter a new username and password word above and click 'signup'!"
                          title="Sign-Up" class="btn btn-warning">Sign up</button>
              </form>
            </li>
          {% endif %}
          </ul>
        </nav><!--/.navbar-collapse -->
      </div>
    </header>

    <section id="main" class="container-fluid">
        <div class="row clearfix">
            <ul id="messages" class="list-unstyled list-group col-md-6 col-md-offset-3">
                {% for msg in messages %}
                    <li class="alert alert-info alert-dismissible list-group-item list-group-item-{{msg.tags}}" role="alert">
                      <button type="button" class="close margin-right"
                              data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      {{ msg }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% block body %}Every child template should put something here...{% endblock %}
    </section>

    <footer id="bottom-footer" class="footer text-muted clearfix bg-default">
        <div class="pull-left pad-right">
            <img src="/static/img/agplv3.png" alt="gnu agpl licence logo"><br>
            <img src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" alt="Creative Commons cc-by-sa logo">
        </div>
        <strong>PyTutor is Free Software</strong> released under the
        <a href="http://www.gnu.org/licenses/agpl.html" title="see the license online">GNU AGPL v3</a>.
        <a href="https://github.com/mcuringa/py-tutor" title="get the source">Source code is available on github</a>.<br>

        <strong>User contributions to PyTutor</strong>, (question prompts, solution/test code, etc) are licensed under the
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" title="read the license">Creative Commons BY-SA License</a>.<br>
        Created for the <a href="http://www.auedtech.org">Graduate Program in Educational Technology</a>
        at <a href="http://education.adelphi.edu">Adelphi University</a>.
    </footer>

    {% include "js_templates.html" %}

</body>

</html>
