<!DOCTYPE html>

<html lang="en">
<head>
    <title>{% block title %}PyTutor{% endblock %}</title>
    <meta charset="utf-8">
    <link href="/static/css/main.css" type="text/css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/tutor.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--
<link rel="stylesheet" type="text/css" href="http://eclipse.org/orion/editor/releases/5.0/built-editor.css"/>
<script src="http://eclipse.org/orion/editor/releases/5.0/built-editor.min.js"></script>
-->
    
</head>

<body>
    <header>
        <h1><a href="/" title="see the function_name of apps">PyTutor</a></h1>
        <nav id="user-nav">
        {% if user.is_authenticated %}
            {{ user.username }} (<a href="/logout" title="click to logout">logout</a>)
        {% else %}
            <a href="/login">login</a> |
            <a href="/register">sign up</a>
        {% endif %}
        </nav>
        <nav id="main-nav">        
            <a href="/tutor">study</a> |
            <a href="/tutor/new">new question</a> |
            <a href="/tutor/list">list questions</a> |
        </nav>
    </header>
{% if messages %}
    <aside id="messages">
        <ul>
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </aside>
 {% endif %}

    {% block body %}Every child template should put something here...{% endblock %}

    <footer>
        PyTutor, copyright 2015 Hannah Groves, Matthew X. Curinga.<br>
        PyTutor is Free Software released under the <a href="http://www.gnu.org/licenses/agpl.html" title="see the license online">GNU Affero General Public License v. 3</a>.<br>
        <a href="https://github.com/mcuringa/py-tutor" title="get the source">Source code is available on github</a>.<br>
        Created for the <a href="http://education.adelphi.edu">Graduate Program in Educational Technology</a>
        at Adelphi University.
    </footer>

<script>
   //~ require(["orion/editor/edit"], function(edit) {
        //~ edit({className: "editor"});
    //~ });
</script>
</body>

</html>
