{% extends "base.html" %}

{% block body %}
<section id="change-pass-form">

<form action="" class="form-horizontal" method="post">
{% csrf_token %}

<header><h2 class="page-header">Change password for {{user.username}}</h2></header>
<div class="row">
    <label class="col-sm-3 control-label">old password</label>
    <div class="col-sm-4"><input id="old_pass" class="form-control" type="password" name="old_password"></div>
</div>
<div class="row">
    <label class="col-sm-3 control-label">new password</label>
    <div class="col-sm-4"><input  class="form-control" id="new_pass" name="new_password" type="password"></div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-3 margin-top"><input type="submit" name="change_pass" value="change my password"></div>
</div>

</form>

</section>
{% endblock %}
