{% extends "base.html" %}

{% block body %}
<section id="change-pass-form">

<form action="" method="post">
{% csrf_token %}
<p>
    <label>old password</label>
    <input type="text" name="old_password">
</p>
<p>
    <label>new passowrd</label>
    <input id="id_new_password1" name="new_password1" type="password">
</p>
<p>
    <label>confirm new passowrd</label>
    <input id="id_new_password2" name="new_password2" type="password">
</p>

<input type="submit" name="change_pass" value="change my password">

</form>

</section>
{% endblock %}
