{% extends "base.html" %}

{% block title %}PyTutor Home{% endblock %}

{% block body %}
{% load markdown_deux_tags %}

<header><h2 class="page-header text-center">Welcome to PyTutor!</h2></header>
<section id="home" class="pad-top margin-top">


    <div class="margin-top jumbotron col-md-8 col-md-offset-2">
        <p>
            <strong>PyTutor</strong> is <code>social tutoring software</code> to help you learn the basics 
            of programming in Python.
        </p>
       <p> 
            We believe in community-supported learning and collaboration when learning to code. 
            We bring in features from <code>social networks</code> to make it easy to ask your friends for a little help if you get stuck.
        </p>
        <p>
            Our <code>wiki-like question editor</code> makes it quick and easy to write many high-quality questions.
            After you answer some questions and get a sense for PyTutor, just click "new question"
            and help us grow.
        </p>
        <a href="/tutor" class="btn btn-primary btn-block">Click here to get started!</a>
    </div>
</section>

{% endblock %}



