<h4>Phrase Emphasis</h4>

<pre><code>_italic_   **bold**</code></pre>

<h4>Links</h4>

<p>Inline:</p>

<pre><code>A [link](http://url.com/)
A [link](http://url.com/
"with a title")
</code></pre>

<p>Reference-style labels:</p>

<pre><code>A [link][id]. Then, anywhere
else, define the link:

[id]: http://url.com/ "title"
</code></pre>

<h4>Code Spans</h4>

<pre><code>`&lt;code&gt;` spans are delimited
by backticks.

You can include literal
backticks like `` `this` ``.
</code></pre>

<h4>Preformatted Code Blocks</h4>

<p>Indent every line of a code block by at least 4 spaces.</p>

<pre><code>This is a normal paragraph.

    This is a preformatted
    code block.
</code></pre>

<h4>Lists</h4>

<pre><code>1. an ordered
2. list

* an unordered list
* '-' bullets work too
</code></pre>

<h4>Headers</h4>

<pre><code># Header 1

## Header 2

###### Header 6
</code></pre>

<h4>Blockquotes</h4>

<pre><code>&gt; Email-style angle brackets
&gt; are used for blockquotes.

&gt; &gt; And, they can be nested.

&gt; ## Headers in blockquotes
&gt; 
&gt; * You can quote a list.
&gt; * Etc.
</code></pre>

<h4>Manual Line Breaks</h4>

<p>End a line with two or more spaces:</p>

<pre><code>Roses are red,   
Violets are blue.
</code></pre>

<p class="margin-top">More <a href="http://daringfireball.net/projects/markdown/syntax">markdown syntax help here</a>.</p>
