{% extends "base.html" %}

{% load humanize %}

{% block title %}PyTutor &middot; User Profile{% endblock %}
    
{% block headerscripts %}
<script src="/static/js/social.js"></script>
{% endblock %}



{% block body %}
<header><h2 class="page-header">Profile &middot; <a href="/~{{user.username}}/" title="see public profile">@{{user.username}}</a></h2></header>

<div class="row">
    <section id="profile" class="col-sm-12 col-md-8">
        loading...
    </section>
    <div id="friends" class="col-md-4 col-sm-12">
        <h3>Friends</h3>
        <div id="friend-search" class="row"></div>

    </div>
</div> <!--/row -->


{% verbatim %}
<script id="profile-form-tmpl" type="text/template">
<form id="profile-form" class="form-horizontal" method="post" role="form">

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">username</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{username}}</p>
        </div>
    </div>

    <div class="form-group">
        <label for="first_name" class="col-sm-2 control-label">first name</label>
        <div class="col-sm-10">
            <input name="first_name" type="text" class="form-control" value="{{first_name}}" placeholder="your first name">
        </div>
    </div>

    <div class="form-group">
        <label for="last_name" class="col-sm-2 control-label">last name</label>
        <div class="col-sm-10">
            <input name="last_name" type="text" class="form-control" value="{{last_name}}" placeholder="your last name">
        </div>
    </div>

    <div class="form-group">
        <label for="bio" class="col-sm-2 control-label">bio</label>
        <div class="col-sm-10">
            <textarea id="bio" name="bio" class="form-control" rows="3"maxlength="200">{{bio}}</textarea>
            <p class="help-block"><span id="bio_chars_left">200</span> chars left</p>
        </div>
    </div>

</form>
</script>


<script id="friend-search-tmpl" type="text/template">
<form  class="form-inline" method="get">
    <div class="form-group">
        <input id="search-field" type="text" class="form-control" placeholder="Find friends">
    </div>
</form>
    <div id="search-results" class="btn-group-vertical"></div>
</script>

<script id="friend-result-tmpl" type="text/template">
    <a href="/~{{username}}" class="btn btn-default">@{{username}} {{name}}</a>
</script>




{% endverbatim %}





{% csrf_token %}
{% endblock %}