{% extends "base.html" %}

{% load humanize %}

{% block title %}PyTutor &middot; {{username}}{% endblock %}


{% block body %}
<header><h2 class="page-header">@{{username}}</h2></header>
<section id="pub-profile" class="row">
    <div class="col-sm-2 col-md-2">
        <img src="" class="img-rounded img-responsive" alt="profile pic for {{username}}">
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6">
        <p><strong>{{profile.name}}</strong></p>
        <p>{{profile.institution}}</p>
        <p>{{profile.city}}</p>
        <p>{{profile.bio}}</p>

        {% if is_friend or True %}<!-- if they are friends -->
        
            {% if profile.user.email|length > 0 %}        
                <p><a href="mailto://{{profile.user.email}}">{{profile.user.email}}</a></p>
            {% endif %}

            {% if profile.mobile|length > 0 %}        
                <p>{{profile.mobile}}</p>
            {% endif %}

            {% if profile.twitter|length > 0 %}        
                <a href="https://twitter.com/@{{profile.twitter}}"><img src="/static/img/social/twitter.png"></a>
            {% endif %}

            {% if profile.facebook|length > 0 %}        
                <a href="https://www.facebook.com/{{profile.facebook}}"><img src="/static/img/social/facebook.png"></a>
            {% endif %}

            {% if profile.google|length > 0 %}        
                <a href="http://plus.google.com/{{profile.google}}"><img src="/static/img/social/google.png"></a>
            {% endif %}

            {% if profile.skype|length > 0 %}        
                <a href="http://skype.com/{{profile.skype}}"><img src="/static/img/social/skype.png"></a>
            {% endif %}

            {% if profile.whatsapp|length > 0 %}        
                <a href="http://whatsapp.com/{{profile.skype}}"><img src="/static/img/social/whatsapp.png"></a>
            {% endif %}

        {% endif %}
    </div>
</section>
{% endblock %}