{% extends "base.html" %}

{% load humanize %}

{% block title %}PyTutor &middot; {{username}}{% endblock %}


{% block body %}
<section id="pub-profile" class="row">
</section>

{% verbatim %}

<script id="public-profile-template" type="text/template">
<header><h2 class="page-header">@{{username}}</h2></header>

    <div class="col-sm-2 col-md-2">
        <img src="{{profile_pic_url}}" class="img-rounded img-responsive" alt="profile pic for {{username}}">
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6">
        <p><strong>{{name}}</strong></p>
        <p>{{institution}}</p>
        <p>{{city}}</p>
        <p>{{bio}}</p>

        {% if(friend_status == "friend") { %}
        
            {% if(email.length > 0) { %}        
                <p><a href="mailto://{{email}}">{{email}}</a></p>
            {% } %}

            {% if(mobile.length > 0) { %}        
                <p>{{mobile}}</p>
            {% } %}

            {% if(twitter.length > 0) { %}        
                <a href="https://twitter.com/@{{twitter}}"><img src="/static/img/social/twitter.png"></a>
            {% } %}

            {% if(facebook.length > 0) { %}        
                <a href="https://www.facebook.com/{{facebook}}"><img src="/static/img/social/facebook.png"></a>
            {% } %}

            {% if(google.length > 0) { %}        
                <a href="http://plus.google.com/{{google}}"><img src="/static/img/social/google.png"></a>
            {% } %}

            {% if(skype.length > 0) { %}        
                <a href="http://skype.com/{{skype}}"><img src="/static/img/social/skype.png"></a>
            {% } %}

            {% if(whatsapp.length > 0) { %}
                <a href="http://whatsapp.com/{{whatsapp}}"><img src="/static/img/social/whatsapp.png"></a>
            {% } %}

        {% } else if(friend_status == "pending")  { %}
            <button class="btn btn-info disabled">pending response</button>
        {% } else if(friend_status == "invited")  { %}
            <button id="accept" class="btn btn-primary">accept friend request</button>
        {% } else if(friend_status == "join")  { %}
            <a href="/register" class="btn btn-primary">join PyTutor to get started</button>
        {% }else { %}
            <button id="send" class="btn btn-success">add friend</button>
        {% } %}

    </div>

</script>
{% endverbatim %}

<script>

var PublicProfileView = Backbone.View.extend({
    template: _.template($('#public-profile-template').html()),
    
    render: function() 
    {
        this.$el.html(this.template(this.model));
        return this;
    },
});

var profile = {{profile|safe}};

var ppv = new PublicProfileView({el: "#pub-profile", model: profile });
ppv.render();

</script>

{% endblock %}