{% extends "base.html" %}

{% load humanize %}


{% block title %}PyTutor Home{% endblock %}

{% block body %}

<section id="question-list"class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title">Question List: {{editor_name}}</h2></div>
    <div class="panel-body">
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="/question/list/{{user.username}}" title="questions I created or modified">My Questions</a></li>
          <li role="presentation"><a href="/question/list" title="all questions">All Questions</a></li>
        </ul>

        <table id="question-list" class="table table-striped table-bordered table-condensed table-sortable">
            <thead>
                <tr>
                  <th class="text-center">Function Name</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Created</th>
                  <th class="text-center">Creator</th>
                  <th class="text-center">Modified</th>
                  <th class="text-center">Last modifer</th>
                  <th class="text-center">Edits</th>
                  <th class="text-center">Level</th>
                  <th class="text-center">Tags</th>
                </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                  <td data-sort-val="{{question.function_name}}">
                        <a href="/question/{{question.id}}/edit/"
                            title="edit this question"><strong><tt>{{question.function_name}}</tt></strong></a>
                        <div class="hidden"> <!-- will add to mouse over quick edit -->
                            <a href="/question/{{question.id}}/edit/" class="btn btn-primary btn-xs" title="edit this question">edit</a>
                            <a href="/question/{{question.id}}/dup/" class="btn btn-info btn-xs" title="duplicate this question">duplicate</a>
                            <a href="/question/{{question.id}}/delete/" class="btn btn-danger btn-xs"  title="delete to this question">delete</a>
                        </div>
                  </td>
                  <td data-sort-val="{{question.status_label}}">
                        {% if question.status  == 2 %}                           
                            <label class="label label-success center-block">Active</label>
                        {% elif question.status == 1 %}
                            <label class="label label-danger center-block">Failed</label>
                        {% else %}
                           <label class="label label-default disabled center-block">Disabled</label>
                        {% endif %}
                  </td>
                  
                  <td data-sort-val="{{question.created.timestamp}}">{{question.created|naturaltime}}</td>
                  <td class="text-center">
                        <a href="/question/list/{{question.creator}}/" title="questions created or modified by {{question.creator}}">{{question.creator}}</a><br>
                  </td>
                  <td data-sort-val="{{question.modified.timestamp}}">{{question.modified|naturaltime}}</td>
                  <td class="text-center">
                        <a href="/question/list/{{question.modifier}}/" title="questions created or modified by {{question.modifier}}">{{question.modifier}}</a><br>
                  </td>
                  <td class="text-center">{{question.version}}</td>
                  <td class="text-center">{{question.level}}</td>
                  <td>{{question.tags}}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}
