{% extends "base.html" %}

{% block title %}PyTutor::Question Editor{% endblock %}

{% block body %}

<section id="question-form">
    <h1>Question Editor</h1>
    <form action="/tutor/save" method="post">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{pk}}">
        {{ question.as_p }}
        <input type="submit" value="Submit">
    </form>



Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non ultricies nibh. Ut eget ipsum eu est hendrerit lobortis. Aliquam vehicula tempus lobortis. Suspendisse iaculis, elit vel gravida fermentum, nulla mauris convallis nibh, eu accumsan tortor neque ac est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis leo quam. Cras adipiscing lorem nulla, ut tristique est fermentum quis. Suspendisse tortor augue, auctor ut lorem eget, imperdiet rutrum lorem. Mauris pellentesque laoreet lacus, vitae pretium tellus elementum a. Proin posuere luctus leo, sed elementum ipsum mollis sed. Curabitur ut orci nec leo malesuada egestas at et libero. Aenean luctus magna vitae mauris semper cursus. Phasellus posuere interdum magna, quis elementum lacus ullamcorper eget. Integer vulputate blandit mollis. Morbi ultricies consequat quam, sed ullamcorper nisl ullamcorper eu.
<br>
Duis elit urna, dictum sed elementum eu, accumsan in ante. Sed placerat hendrerit elit quis venenatis. Vestibulum aliquet a lectus vitae porta. Aenean eget lacus tellus. Maecenas aliquet imperdiet dui sed vehicula. Proin a erat dapibus, egestas ante id, egestas metus. Maecenas euismod, nisl non commodo fringilla, magna metus vestibulum mauris, vel dignissim felis neque at sem.
<br>
Quisque et odio eget ligula ullamcorper adipiscing. Praesent arcu ligula, ornare at mauris a, eleifend pretium tellus. Phasellus vitae sapien mauris. Nunc placerat odio eu justo fermentum, et sollicitudin ante imperdiet. Morbi non congue dui, iaculis blandit lectus. Pellentesque varius risus tincidunt, semper nunc quis, tempor erat. Donec tempor metus in fermentum elementum. Curabitur commodo ligula vel urna mollis sagittis.
<br>
Nullam a adipiscing mi. In dictum pellentesque lorem vel placerat. Curabitur tincidunt placerat magna at consectetur. Etiam iaculis odio a nunc vulputate, vulputate pulvinar turpis porttitor. Fusce ultricies leo eros, et tristique mauris ultrices at. In rutrum sed sem at adipiscing. Phasellus metus sem, porta vel lacinia eget, dapibus sagittis nisi. Nulla at dui imperdiet, laoreet tellus sed, mattis odio.
<br>
Mauris pharetra odio eget dui ultricies pulvinar. Vivamus pulvinar mauris vitae odio venenatis, eget mollis orci posuere. Nam non adipiscing libero. Praesent et lorem venenatis nisl semper bibendum. Nunc porta nibh pharetra vulputate lobortis. Maecenas ac hendrerit velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare, dolor at tristique venenatis, lorem ligula pulvinar nisl, eget rhoncus turpis urna convallis arcu. Maecenas venenatis nisl nisl, vitae scelerisque urna auctor in. Curabitur non feugiat justo. Mauris elementum ut nulla in gravida. 
</section>

{% endblock %}
