{% extends "base.html" %}

{% load humanize %}
{% load markdown_deux_tags %}

{% block title %}PyTutor::Question Editor{% endblock %}

{% block body %}
<div class="row">
    <section id="question-editor" class="col-md-6">
        {% include "tutor/question_form-part.html" %}
    </section>
    <div class="col-md-6">
        {% include "tutor/question_editor_tests.html" %}
    </div>
</div> <!--/row -->

{% endblock %}

{%block modal_id %}mdcheat{% endblock %}
{%block modal_title %}Markdown Cheatsheet{% endblock %}
{%block modal_body %}{% include "md_cheat.html" %}{% endblock %}
