{% load markdown_deux_tags %}
{% load humanize %}

<h3><div class="label label-primary">
    question author solutions (passing and failing)
</div></h3>
<ul class="list-unstyled">
{% autoescape off %}
    {% for q in expert_solutions %}
        <li class="bg-default pad margin-top">
        {% if q.passed  %}
            <span class="label label-success">passed</span>
        {% else %}
            <span class="label label-danger">failed</span>
        {% endif %}
            <strong>version:</strong> {{q.version}}, 
            <strong>editor:</strong> {{q.modifier.username}}, 
            <strong>modified:</strong> {{q.modified}}
        </li>
        <li>{{q.solution_pp}}</li>
    {% endfor %}
</ul>

<h3>
<div class="label label-primary">
    user submitted solutions (passing only)
</div>
</h3>

{% for solution in user_solutions %}
    <div class="row margin-top">
        <div class="col-md-9">
            {{solution.code_pp}}
        </div>
        <div class="col-md-3">
            <a href="/~{{solution.user.username}}" 
                data-toggle="tooltip" data-placement="left"
                title="Submitted by @{{solution.user.username}} on {{solution.submitted}} Click to view profile.">
                <img src="{{solution.user.socialprofile.profile_pic_url}}" alt="@{{solution.user.username}}" class="img-thumbnail img-responsive"></a>
        </div>
    </div>
{% endfor %}

{% endautoescape %}
<script lang="javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

