{% extends "base.html" %}

{% block title %}PyTutor Home{% endblock %}

{% block body %}

<section id="response-form">
	<h1>Question {{question.id}}</h1>
	<p>{{question.prompt}}</p>
	<p>Attempt #{{response.attempt}}</p>
    <form action="/tutor/submit_response" method="post">
        {% csrf_token %}
        <input type="hidden" name="qpk" value="{{pk}}">
        <input type="hidden" name="rpk" value="{{response.pk}}">
        <input type="hidden" name="response">
        <div id="responseEditor">
        </div>
        
        <input type="submit" value="Submit">
    </form>
</section>

{% endblock %}
