html 
{
  position: relative;
  min-height: 100%;
}

body 
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body, .fixed-left
{
    padding-top: 34px;
    padding-bottom: 90px;
}

.round
{
  border-radius: 4px;
}

.fixed-left
{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #f5f5f5;
    width: 33%;
    padding-left: 1em;
    padding-right: 1em;
}


#bottom-footer
{

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  margin: 0;
  padding: 1em;
  background-color: #f5f5f5;
  font-size: 90%;
}



/* helper classes */

.bg-default
{
    background-color: #f5f5f5;
}

.wrap, .btn.wrap
{
  white-space: normal;
}

.nopad { padding: 0 !important;}
.nopad-top { padding-top: 0 !important;}

.pad { padding: .5em; }

.pad-top { padding-top: 1em; }
.pad-bottom { padding-bottom: 1em; }
.pad-left { padding-left: 1em; }
.pad-right { padding-right: 1em; }

.nomargin { margin: 0 !important; }
.margin-left { margin-left: .5em; }
.margin-right { margin-right: .5em; }
.margin-top { margin-top: .5em; }
.margin-bottom { margin-bottom: .5em; }


.inline { display: inline;}

div.label
{
    display: block;
}

.well.inverse
{
  background-color: white;
}

.well h1, .well h2, .well h3, .well h4
{
  margin-top: 0px;
} 

.well ul, .well ol, .well dl, .panel-body ul, .panel-body ol, .panel-body dl
{
  margin-bottom: 0;
}

.hidden {display: none; visibility: visible; }

.vc
{
  display: flex; 
  align-items: center;
}


.tab-pane.panel
{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}


.code-editor
{
    font-size: 130%;
    position: relative;
    height: 300px;
    width: 100%;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
#prompt-editor
{
    height: 200px;
}



/** Study screen */
#study-editor-col
{

}



#editor-tools
{
    background-color: #272822;
    padding: 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 0;
}

#editor-tools button, #editor-tools btn-group
{
    border-bottom-style: none;
    margin-bottom: 0;
}

.no-bl-radius, .no-bl-radius button
{
     border-bottom-left-radius: 0;
}

.no-br-radius, .no-br-radius button
{
     border-bottom-right-radius: 0;

}

#response-editor 
{
    font-size: 130%;
    position: relative;
    height: 300px;
    width: 100%;
    margin-top: 0;
}

#user-code
{
    height: 140px;
    overflow: scroll;
}
#respond #test-list a.delete-test
{
    display: none;
    visibility: hidden;
}

/* diff styles */

table.diff
{
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
    table-layout: fixed;
}

table.diff td
{
    max-width: 40%;
    white-space: normal;
    word-wrap:break-word;
}

.diff_header {background-color:#e0e0e0}
td.diff_header
{
    min-width: 2.5em;
    width: 2.5em;
    text-align:right;
    word-wrap:normal;
}
.diff_next {background-color:#c0c0c0}
.diff_add {background-color:#dff0d8}
.diff_chg {background-color:#fcf8e3}
.diff_sub {background-color:#f2dede}

}

#qdtail-modal.scroll
{
  overflow: auto;
  max-height: 200px;
}

.bottom-margin {
  margin-bottom: 15px;
}

.extra-padding
{
  padding: 5px;
}

.user-responses
{
  height: 400px;
  overflow-y: scroll;
}

.model-responses
{
  height: 150px;
  overflow-y: scroll;
}
